@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300..800&display=swap');
@import "tailwindcss";


:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --accent-color: #004358;
  --bg-color: white;

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}